# Setting up git for multiple accounts
# https://markentier.tech/posts/2021/02/github-with-multiple-profiles-gpg-ssh-keys/

[user]
	useConfigOnly = true
	signingkey = /Users/dheater/.ssh/id_ed25519.pub
	email = daniel.heater@imprivata.com
	name = Daniel Heater

[includeif "gitdir:~/dotfiles/**"]
	path = ~/dotfiles/.gitconfig

[includeif "gitdir:~/src-conan/**"]
	path = ~/src-conan/.gitconfig

[includeif "gitdir:~/src-imprivata/**"]
	path = ~/src-imprivata/.gitconfig

[alias]
    co = checkout
    ci = commit
    st = status -s
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[commit]
	gpgsign = true
[tag]
	gpgsign = true

[color]
	ui = auto
[core]
	excludesFile = ~/.gitignore
	autocrlf = false
	pager = delta
	editor = hx
[push]
	default = matching
[pull]
	rebase = false
# [interactive]
  # diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations
  navigate = true
  side-by-side = false
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[diff]
	tool = delta
	colorMoved = default
[difftool]
	prompt = false
[merge]
	tool = delta
	conflictstyle = diff3
[init]
	defaultBranch = main
[gpg]
	format = ssh
