# This is Git's per-user configuration file.
[user]
name = Daniel Heater
email = daniel@heatertech.com
	signingkey = 521B457B3E93EB01D8D08F883D143B85DC45E9B0

[includeIf "gitdir:~/src-imprivata/"]
    path = ~/src=imprivata/.gitconfig
	
[alias]
    co = checkout
    ci = commit
    st = status -s
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[color]
	ui = auto
[core]
	exludesfile = home/dheater/.gitignore_global
	excludesfile = /home/dheater/.gitignore_global
	autocrlf = input
[push]
	default = matching
[pull]
	rebase = false
[commit]
	gpgsign = true
[tag]
	gpgSign = true
