# Setting up git for multiple accounts
# https://markentier.tech/posts/2021/02/github-with-multiple-profiles-gpg-ssh-keys/

[user]
	name = Daniel Heater
	useConfigOnly = true

[includeIf "gitdir:~/src-dheater/"]
	path = ~/.gitconfig-dheater

[includeIf "gitdir:~/.homesick/"]
	path = ~/.gitconfig-dheater

[includeIf "gitdir:~/src-imprivata/"]
	path = ~/.gitconfig-imprivata

[alias]
    co = checkout
    ci = commit
    st = status -s
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[color]
	ui = auto
[core]
	excludesfile = /home/dheater/.gitignore_global
	autocrlf = input
[push]
	default = matching
[pull]
	rebase = false
[commit]
	gpgsign = true
[tag]
	gpgSign = true
